h1 
{
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.01em white;
    font-family: 'Rocher';
    font-size: 5em;
    margin: 0;
}

body
{
    background: radial-gradient( #ffabab 0%, #C4fAf8 100%);
}

@font-face 
{
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

.hour
{
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    font-family: 'Monocraft', monospace;
    color: #ee0672;
    text-shadow: 0 0 20px rgb(212, 10, 230),  0 0 20px rgba(10, 175, 230, 0);
    letter-spacing: 0.1em;
    font-size: 1.5em;
    text-align: center;
}

.title
{
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
    font-family: 'Monocraft', monospace;
    color: #0644eede;
    text-shadow: 0 0 20px rgb(10, 215, 230, 0.753),  0 0 20px rgba(10, 175, 230, 0);
    letter-spacing: 0.1em;
    font-size: 1.5em;
    text-align: center;
}

.weather
{
    font-family: Rocher;
    font-size: 1.6em;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.01em white;
}

.container
{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px;
    box-sizing: border-box; 
}


